{% extends "base.njk" %}

{% block content %}
<article class="ux-project">
    <header>
        <h1>{{ title }}</h1>
        <div class="meta">
            {% if role %}
            <div class="role">Role: {{ role }}</div>
            {% endif %}
            {% if timeline %}
            <div class="timeline">Timeline: {{ timeline }}</div>
            {% endif %}
        </div>
        {% if overview %}
        <div class="overview">
            {{ overview }}
        </div>
        {% endif %}
    </header>

    {{ content | safe }}

    <nav class="navigation">
        {%- set previousPost = collections.uxWork | getPreviousCollectionItem %}
        {%- set nextPost = collections.uxWork | getNextCollectionItem %}
        
        {% if previousPost and previousPost.data.title != "UX Work" %}
        <a href="{{ baseUrl }}/ux-work/{{ previousPost.fileSlug }}.html" class="prev">{{ previousPost.data.title }}</a>
        {% endif %}
        
        {% if nextPost and nextPost.data.title != "UX Work" %}
        <a href="{{ baseUrl }}/ux-work/{{ nextPost.fileSlug }}.html" class="next">{{ nextPost.data.title }}</a>
        {% endif %}
    </nav>
</article>
{% endblock %} 